Dashboard/dashboardWorkflow_NodeRED.json
[{"id":"539e8068.9f968","type":"tab","label":"Tractor Shed Environment Sensor Monitor","disabled":false,"info":"This workflow subscribes to the MQTT queue that receives sensor values from the tractor shed.  The values are split apart and plotted both for the real-time value and a 24-hour line plot.\n"},{"id":"a906ec75.0cc72","type":"mqtt in","z":"539e8068.9f968","name":"Sensor Msg Queue","topic":"TractorShedSensorData","qos":"2","datatype":"json","broker":"b45ac171.24607","x":110,"y":280,"wires":[["1a33a7c7.8f73f8","3c4a01ef.da81ce"]]},{"id":"c5d10660.bf4438","type":"ui_gauge","z":"539e8068.9f968","name":"PressureMB","group":"321e8643.23eeaa","order":1,"width":"6","height":"3","gtype":"gage","title":"Barometric Pressure","label":"millibar","format":"{{payload.pressureMB}}","min":"830","max":"1095","colors":["#6d85ab","#c4bc87","#f5ed05"],"seg1":"1009","seg2":"1022","x":290,"y":520,"wires":[],"info":"> What's Normal?\n> \n> The standard pressure at sea level averages 14.7 pounds for every square inch of air, according to SETRA. But when you're taking readings at home or listening to weather professionals, it's typically measured in inches of mercury (inHg). Curious about how to interpret readings?\n> \n> Barometric Pressure Higher Than 30.20 inHg\n> \n> If the pressure is steady or rising, you can expect fair weather to continue. If it's slow dropping, fair weather's on its way. If it drops quickly, expect cloudy conditions and warmer temperatures.\n> \n> Barometric Pressure of 29.80 to 30.20 inHg\n> \n> If the pressure is steady or rising, expect the current conditions to stay the same. If the pressure drops slowly, there will be minimal change. If the pressure drops quickly, expect rain or snow.\n> \n> Barometric Pressure Lower than 29.80 inHg\n> \n> If the pressure is steady or rising, expect the weather to clear with cooler temperatures. If it's dropping slowly, rain is on the way. If the pressure drops quickly, expect a storm.\n\n[https://www.reference.com/science/normal-barometric-pressure-f584ab613a620f62]()"},{"id":"1a33a7c7.8f73f8","type":"debug","z":"539e8068.9f968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":360,"wires":[]},{"id":"b984f408.7a07b8","type":"debug","z":"539e8068.9f968","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":740,"wires":[]},{"id":"974199c3.3eede8","type":"split","z":"539e8068.9f968","name":"Split by Signal","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":260,"y":740,"wires":[["e95fd0a2.38947"]]},{"id":"6292442e.d1ab0c","type":"ui_gauge","z":"539e8068.9f968","name":"TempF","group":"321e8643.23eeaa","order":3,"width":"6","height":"3","gtype":"gage","title":"Temperature","label":"째F","format":"{{payload.temperatureF}}","min":"-25","max":"120","colors":["#289df6","#1df500","#ff2f0a"],"seg1":"","seg2":"","x":270,"y":600,"wires":[]},{"id":"e95fd0a2.38947","type":"switch","z":"539e8068.9f968","name":"Keep MB & Temp","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"pressureMB","vt":"str"},{"t":"eq","v":"temperatureF","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":450,"y":740,"wires":[["b984f408.7a07b8","9b52e24d.c91ca"],["3f384ecd.ade7c2","a7306101.f1346"]],"outputLabels":["pressureMB","temperatureF"]},{"id":"3f384ecd.ade7c2","type":"ui_chart","z":"539e8068.9f968","name":"Time-Temp","group":"21aa3f0d.e87d2","order":3,"width":"14","height":"6","label":"Temperature (째F) Over Time","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"waiting...","dot":false,"ymin":"-25","ymax":"120","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":780,"wires":[[]]},{"id":"9b52e24d.c91ca","type":"ui_chart","z":"539e8068.9f968","name":"Time-Pressure","group":"21aa3f0d.e87d2","order":1,"width":"14","height":"6","label":"Pressure (mb) Over Time","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"waiting on pressure data...","dot":false,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffa200","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":700,"wires":[[]]},{"id":"e39ff2c8.1979f","type":"ui_dropdown","z":"539e8068.9f968","name":"SensorPace","label":"Readings per Hour","tooltip":"Send a control signal to the ESP32 to set the frequency for taking measurements (readings per hour.)","place":"Select Message Pace","group":"a583884f.e43938","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Once per hour","value":1,"type":"num"},{"label":"Every 30 minutes","value":2,"type":"num"},{"label":"Every 15 minutes","value":4,"type":"num"},{"label":"Every 5 seconds","value":"720","type":"str"}],"payload":"","topic":"SensorControl","x":110,"y":80,"wires":[["c5cbff34.bdbc3","e7f366d5.effb08"]]},{"id":"c5cbff34.bdbc3","type":"mqtt out","z":"539e8068.9f968","name":"Command Msg Queue","topic":"TractorShedSensorCommands","qos":"","retain":"false","broker":"b45ac171.24607","x":440,"y":60,"wires":[]},{"id":"e7f366d5.effb08","type":"debug","z":"539e8068.9f968","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":120,"wires":[]},{"id":"615f15bf.4bc59c","type":"comment","z":"539e8068.9f968","name":"Command & Control","info":"This list of sensor pace values will be sent back to the sensor via MQTT then LoRa to control how frequently readings are taken and sent.\n\nThis will allow me to control the pace without recompiling the code.\n","x":130,"y":40,"wires":[]},{"id":"fc5a47d6.1afca8","type":"comment","z":"539e8068.9f968","name":"Realtime Gauges","info":"These gauges will display the current values coming off the sensors.  Each of these monitor the real-time JSON messages and pick off the topic that they are to display.","x":300,"y":480,"wires":[]},{"id":"c01a7726.d88128","type":"comment","z":"539e8068.9f968","name":"Input Message Queue","info":"Sensor data is read by the remote ESP32 board and broadcast via LoRa radio to the local ESP32.\n\nThe local ESP32 receives the message and validates that the payload data passes a CRC check.  If it's good, the JSON payload is injected to the MQTT server.\n\nThis workflow subscribes to that message queue which feeds these guages.\n","x":100,"y":240,"wires":[]},{"id":"a12383f9.25208","type":"comment","z":"539e8068.9f968","name":"Split Sensor Channels ","info":"The JSON message contains 4 sensor readings.  This node splits the single message into four distinct messages with each one's \"topic\" correstponding to the sensor and value.  \n\nThis allows us to split out what gets displayed on line charts. Originally all four were diapled on one chart but due to their wide range in values, I'm now using distinct charts for just Pressure in millibars (750-1100) and temperature (-25째F - 120째F).","x":280,"y":700,"wires":[]},{"id":"3c4a01ef.da81ce","type":"function","z":"539e8068.9f968","name":"Adj for Elev. / Rounding","func":"// Retain the elevation override value.\nif (msg.topic === 'ElevationOverride') {\n   flow.set(\"ElevationOverride\", msg.payload);\n}\n\n// Pull stored value and add to this message.\nmsg.payload.storedElevation = flow.get(\"ElevationOverride\");\n\n\n// Convert height in ft to meters.\n// Then divide by 9.2 to get mb adjustment factor.\nmsg.payload.mbElevationAdjustment = \n     ((flow.get(\"ElevationOverride\") * 0.3048) / 9.2); \n\n\n// Adjust the millibar value\nmsg.payload.pressureMB = \n   Math.round(msg.payload.pressureMB + \n      msg.payload.mbElevationAdjustment);\n\n\n// Calculate how much the pressure has changed\n// since the last reading.\nmsg.payload.pressureChange = \n   Math.round(msg.payload.pressureMB - \n     flow.get(\"MovingAvgMB\") );\n\n\n// Store the current pressure for the next message.\nif (msg.topic === 'TractorShedSensorData') {\n   flow.set(\"PreviousMB\", msg.payload.pressureMB);\n}\n\n\n// Round the temperature for a better gauge output.\nmsg.payload.temperatureF = Math.round(msg.payload.temperatureF)\n\nreturn msg;\n\n// 24.85","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":240,"wires":[["9306c096.b69f8","92ac6fb1.dd64f","caae716b.c1264"]],"info":"We do a crude adjustment to the barometric pressure to account for the current elevation so that we show the pressure at sea level.\n\nThis formula can be used to get the approximate value without using temperature too.\n\nSea Level Pressure = \n   (Station Pressure) + (Elevation[meters] / 9.2)\n\n\nNote:  We are not using the \"altitude\" measurement from the sensor - it appears to be reporting a number which is roughly 300 ft. higher than my house.  Instead, I use a value pulled from USGS topographical maps.\n\n\nSee this document for details on the conversion formula:\n\n\n[https://www.sandhurstweather.org.uk/barometric.pdf]()\n\n"},{"id":"9306c096.b69f8","type":"debug","z":"539e8068.9f968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":180,"wires":[]},{"id":"f40a7300.62b41","type":"link in","z":"539e8068.9f968","name":"From Data Acquisition","links":["92ac6fb1.dd64f"],"x":75,"y":440,"wires":[["6292442e.d1ab0c","c5d10660.bf4438","974199c3.3eede8","5d8048ef.0f2b48","78d60aad.4ba434","7d567211.9d60dc","d0fed2ca.eed32"]]},{"id":"92ac6fb1.dd64f","type":"link out","z":"539e8068.9f968","name":"To UI Gadgets","links":["f40a7300.62b41"],"x":635,"y":240,"wires":[]},{"id":"a7306101.f1346","type":"debug","z":"539e8068.9f968","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":820,"wires":[]},{"id":"5d8048ef.0f2b48","type":"ui_text","z":"539e8068.9f968","group":"a583884f.e43938","order":2,"width":0,"height":0,"name":"Current Pace","label":"Current Messages / Hour","format":"{{payload.messagesPerHourPace}}","layout":"row-left","x":290,"y":640,"wires":[]},{"id":"5436ba4b.75d2e4","type":"comment","z":"539e8068.9f968","name":"Link to UI Guages","info":"","x":750,"y":240,"wires":[]},{"id":"2f270d4b.799cf2","type":"comment","z":"539e8068.9f968","name":"From data acquisition","info":"","x":100,"y":400,"wires":[]},{"id":"559f1820.2bd3e8","type":"ui_numeric","z":"539e8068.9f968","name":"Elevation Override","label":"Elevation Override","tooltip":"Set to feet above sea level.","group":"bab7733f.fb128","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"ElevationOverride","format":"{{value}}","min":0,"max":"5000","step":"10","x":130,"y":140,"wires":[["3c4a01ef.da81ce"]],"info":"This allows me to adjust the barometric pressure to the value at sea level by using a function node.\n\n"},{"id":"78d60aad.4ba434","type":"ui_gauge","z":"539e8068.9f968","name":"Pressure Change","group":"321e8643.23eeaa","order":2,"width":"6","height":"3","gtype":"gage","title":"Lastest vs. Prior 4 Avg.","label":"","format":"{{payload.pressureChange}}","min":"-10","max":"10","colors":["#721d25","#e6e600","#14d782"],"seg1":"-2","seg2":"2","x":310,"y":560,"wires":[]},{"id":"caae716b.c1264","type":"smooth","z":"539e8068.9f968","name":"avgPressure","property":"payload.pressureMB","action":"mean","count":"4","round":"1","mult":"single","reduce":true,"x":670,"y":320,"wires":[["38e1f427.78113c"]]},{"id":"f5332185.9ecac","type":"debug","z":"539e8068.9f968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":360,"wires":[]},{"id":"38e1f427.78113c","type":"function","z":"539e8068.9f968","name":"Store Avg","func":"// Store the current pressure for the next message.\nif (msg.topic === 'TractorShedSensorData') {\n   flow.set(\"MovingAvgMB\", msg.payload.pressureMB);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":320,"wires":[["f5332185.9ecac"]]},{"id":"c3f61dd.e0742e","type":"ui_text","z":"539e8068.9f968","group":"bab7733f.fb128","order":3,"width":0,"height":0,"name":"","label":"Receiver Station Status History","format":"{{msg.payload}}","layout":"col-center","x":610,"y":1060,"wires":[]},{"id":"74131d16.d928b4","type":"mqtt in","z":"539e8068.9f968","name":"Receiver Status Queue","topic":"TractorShedSensorStatus","qos":"2","datatype":"auto","broker":"b45ac171.24607","x":320,"y":1060,"wires":[["c3f61dd.e0742e"]]},{"id":"92cf83c.05a928","type":"ui_text","z":"539e8068.9f968","group":"bab7733f.fb128","order":3,"width":0,"height":0,"name":"","label":"Command History","format":"{{msg.payload}}","layout":"col-center","x":570,"y":980,"wires":[]},{"id":"d1b7e089.9a15c","type":"mqtt in","z":"539e8068.9f968","name":"Receiver Status Queue","topic":"TractorShedSensorCommands","qos":"2","datatype":"auto","broker":"b45ac171.24607","x":320,"y":980,"wires":[["92cf83c.05a928"]]},{"id":"39d566e9.1bfdba","type":"exec","z":"539e8068.9f968","command":"echo '{\"mode\":\"' `rigctl -m 4 get_mode | head -1` ; echo '\" , \"freq\":' `rigctl -m 4 get_freq | head -1` ; echo \"}\"","addpay":true,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"Get IC-7100 Info","x":350,"y":1200,"wires":[["36350d49.109d12","58da3278.7542dc"],[],[]]},{"id":"584086fa.795918","type":"file","z":"539e8068.9f968","name":"PressureHistory","filename":"/home/pi/nodeRedData/pressure_history.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":480,"y":820,"wires":[[]]},{"id":"d0fed2ca.eed32","type":"function","z":"539e8068.9f968","name":"Add Date/Time","func":"// Add a field for the current timestamp.\nvar now = new Date().toLocaleString('en-US');\nmsg.payload.CurrentTime =  \n   now; \n   \nreturn msg;\n\n\n//  ('[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]', '-0500')","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":860,"wires":[["584086fa.795918","c28fb64c.5ba418"]],"info":"We do a crude adjustment to the barometric pressure to account for the current elevation so that we show the pressure at sea level.\n\nThis formula can be used to get the approximate value without using temperature too.\n\nSea Level Pressure = \n   (Station Pressure) + (Elevation[meters] / 9.2)\n\n\nNote:  We are not using the \"altitude\" measurement from the sensor - it appears to be reporting a number which is roughly 300 ft. higher than my house.  Instead, I use a value pulled from USGS topographical maps.\n\n\nSee this document for details on the conversion formula:\n\n\n[https://www.sandhurstweather.org.uk/barometric.pdf]()\n\n"},{"id":"c28fb64c.5ba418","type":"debug","z":"539e8068.9f968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":860,"wires":[]},{"id":"869016b.892e4e8","type":"ui_toast","z":"539e8068.9f968","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"The Barometric pressure fell more than 3 points compared to average reading over the last four readings.","name":"Alert-Rapid-Drop","x":750,"y":420,"wires":[[]]},{"id":"7d567211.9d60dc","type":"switch","z":"539e8068.9f968","name":"","property":"payload.pressureChange","propertyType":"msg","rules":[{"t":"lt","v":"-3","vt":"str"},{"t":"gt","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":440,"wires":[["869016b.892e4e8","48a76e05.6db7c"],["d3f9467e.743a78","48a76e05.6db7c"]],"outputLabels":["Drop3","Rise3"]},{"id":"d3f9467e.743a78","type":"ui_toast","z":"539e8068.9f968","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"The Barometric pressure rose more than 3 points compared to average reading over the last four readings.","name":"Alert-Rapid-Drop","x":750,"y":460,"wires":[[]]},{"id":"475a220e.83b40c","type":"serial in","z":"539e8068.9f968","name":"ReceiverStatus","serial":"d73e4cf9.b65c4","x":300,"y":1120,"wires":[["3fcf9977.fec3c6"]]},{"id":"3fcf9977.fec3c6","type":"ui_text","z":"539e8068.9f968","group":"bab7733f.fb128","order":3,"width":"6","height":"9","name":"ReceiverUSBLog","label":"Receiver Board Serial Output Monitor","format":"{{msg.payload}}","layout":"col-center","x":570,"y":1120,"wires":[]},{"id":"58da3278.7542dc","type":"debug","z":"539e8068.9f968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1180,"wires":[]},{"id":"dbf8443e.e295c8","type":"ui_button","z":"539e8068.9f968","name":"","group":"bab7733f.fb128","order":3,"width":0,"height":0,"passthru":false,"label":"Check IC-7100","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CheckRadio","payloadType":"str","topic":"","x":140,"y":1200,"wires":[["39d566e9.1bfdba"]]},{"id":"36350d49.109d12","type":"json","z":"539e8068.9f968","name":"","property":"payload","action":"","pretty":false,"x":530,"y":1240,"wires":[["58da3278.7542dc"]]},{"id":"b3ccfbe6.45fbf8","type":"e-mail","z":"539e8068.9f968","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"Rick@RainBark.com","dname":"","x":1000,"y":520,"wires":[]},{"id":"48a76e05.6db7c","type":"change","z":"539e8068.9f968","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":",","fromt":"str","to":":::","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":520,"wires":[["b3ccfbe6.45fbf8"]]},{"id":"b45ac171.24607","type":"mqtt-broker","name":"Pi7100MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"321e8643.23eeaa","type":"ui_group","name":"Realtime Measurement","tab":"ad1807e4.939908","order":1,"disp":true,"width":"6","collapse":true},{"id":"21aa3f0d.e87d2","type":"ui_group","name":"Time Series Plot","tab":"ad1807e4.939908","order":2,"disp":true,"width":"15","collapse":true},{"id":"a583884f.e43938","type":"ui_group","name":"Sensor Control Signals","tab":"ad1807e4.939908","order":3,"disp":true,"width":"6","collapse":true},{"id":"bab7733f.fb128","type":"ui_group","name":"Command & Status History","tab":"4ca7244a.0863fc","order":1,"disp":true,"width":"9","collapse":false},{"id":"d73e4cf9.b65c4","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ad1807e4.939908","type":"ui_tab","name":"Tractor Shed Sensor Monitor","icon":"dashboard","disabled":false,"hidden":false},{"id":"4ca7244a.0863fc","type":"ui_tab","name":"Command / Status History Tab","icon":"dashboard","disabled":false,"hidden":false}]